<template>
  <button :aria-label="kind" :data-type="kind">
    <slot>{{ label }}</slot>
  </button>
</template>

<script setup>
import { ref } from "vue";

const props = defineProps({
  kind: {
    type: String,
    default: "submit",
    validator(value) {
      return ["submit", "cancel", "change"].includes(value);
    },
  },
  label: {
    type: String,
    default: "Submit",
  },
});
</script>

<style scoped>
button {
  cursor: pointer;
  text-decoration: none;
  font-weight: var(--fw-700);
  border: 0;
  background: transparent;
  border-radius: 0.5rem;
  padding: 0.75em 1.5em;
}

button[data-type="submit"] {
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  box-shadow: 0px 20px 20px var(--clr-neutral-500);
}
button[data-type="submit"]:hover,
button[data-type="submit"]:focus {
  background-color: var(--clr-primary-300);
}

button[data-type="cancel"] {
  color: var(--clr-neutral-400);
  padding: 0;
}
button[data-type="cancel"]:hover,
button[data-type="cancel"]:focus {
  color: var(--clr-neutral-800);
}

button[data-type="change"] {
  color: var(--clr-primary-400);
  text-decoration: underline;
  font-weight: var(--fw-700);
  padding: 0;
  border: 0;
}
button[data-type="change"]:hover,
button[data-type="change"]:focus {
  color: var(--clr-neutral-300);
  text-decoration: none;
}
</style>
