<template>
  <div>
    <div class="flex-row | bg-neutral-200 text-align-start br-1 padding-24">
      <div>
        <img :src="icon" alt="" />
      </div>
      <div>
        <p class="text-neutral-800 fw-black">{{ name }}</p>
        <p>{{ formattedPrice }}</p>
      </div>
      <Button class="push-right" kind="change" label="Change">Change</Button>
    </div>
  </div>
</template>

<script setup>
import Button from "../Button/Button.vue";
import { computed } from "vue";

const props = defineProps({
  kind: {
    type: String,
    default: "music",
  },
  type: {
    type: String,
    default: "annual",
    validator(value) {
      return ["annual", "monthly"].includes(value);
    },
  },
  price: {
    type: Number,
    default: 100,
  },
  currency: {
    type: String,
    default: "$",
  },
});

const formattedPrice = computed(() => {
  // TODO: better formatting through library
  const cycle = {
    annual: "year",
    monthly: "month",
  };
  return `${props.currency}${props.price / 100}/${cycle[props.type]}`;
});

const icon = computed(() => {
  return `/images/icon-${props.kind}.svg`;
});

const name = computed(() => {
  const plans = {
    annual: "Annual Plan",
    monthly: "Monthly Plan",
  };
  return plans[props.type];
});
</script>

<style scoped></style>
