<template>
  <div class="container">
    <div class="card | bg-neutral-100 text-align-center br-2">
      <img
        class="card__image"
        aria-label="checkout graphic"
        src="/images/illustration-hero.svg"
      />
      <div class="card__content | grid-flow | padding-48">
        <h2>Order Summary</h2>
        <p>{{ orderDescription }}</p>

        <SubscriptionPlan v-bind="order" />

        <Button kind="submit" label="Proceed to Payment" />
        <Button kind="cancel" label="Cancel Order" />
      </div>
    </div>
  </div>
</template>

<script setup>
import SubscriptionPlan from "../SubscriptionPlan/SubscriptionPlan.vue";
import Button from "../Button/Button.vue";

const props = defineProps({
  orderDescription: {
    type: String,
    default: "",
  },
  order: {
    type: Object,
    required: true,
    default(rawProps) {
      return {};
    },
  },
});
</script>

<style scoped>
.container {
  display: grid;
  min-height: 100vh;
  place-items: center;
  background-image: url("/images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
}
.card {
  overflow: hidden;
  box-shadow: 0px 40px 40px -20px var(--clr-neutral-500);
  width: 100%;
  max-width: 450px;
  margin: 0 var(--sp-600);
}
@media (min-width: 50em) {
  .card {
    margin: 0;
  }
}
</style>
