<script setup>
import OrderSummary from './components/OrderSummary/OrderSummary.vue';
</script>

<template>
  <OrderSummary
    :order="{
      type: 'monthly',
      kind: 'music',
      price: 999,
      currency: '$'
    }" />
</template>

<style scoped>
</style>
